<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.naswork.dao.AuthorityRelationDao" >
  <resultMap id="BaseResultMap" type="com.naswork.model.AuthorityRelation" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="CLIENT_ID" property="clientId" jdbcType="INTEGER" />
    <result column="SUPPLIER_ID" property="supplierId" jdbcType="INTEGER" />
    <result column="STOREHOUSE_ADDRESS_ID" property="storehouseAddressId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, CLIENT_ID, SUPPLIER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from authority_relation
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="selectBySupplierId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from authority_relation
    where SUPPLIER_ID = #{supplierId,jdbcType=INTEGER}
  </select>
  
    <select id="selectByClientId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from authority_relation
    where CLIENT_ID = #{clientId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from authority_relation
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.naswork.model.AuthorityRelation" >
    insert into authority_relation (ID, USER_ID, CLIENT_ID, 
      SUPPLIER_ID)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{clientId,jdbcType=INTEGER}, 
      #{supplierId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.naswork.module.xtgl.controller.PowerVo" >
    insert into authority_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="clientId != null" >
        CLIENT_ID,
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID,
      </if>
      <if test="airTypeId != null" >
        AIR_TYPE_ID,
      </if>
      <if test="storehouseAddressId != null" >
        STOREHOUSE_ADDRESS_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="airTypeId != null" >
        #{airTypeId,jdbcType=INTEGER},
      </if>
      <if test="storehouseAddressId != null" >
        #{storehouseAddressId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.naswork.model.AuthorityRelation" >
    update authority_relation
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        CLIENT_ID = #{clientId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID = #{supplierId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.naswork.model.AuthorityRelation" >
    update authority_relation
    set USER_ID = #{userId,jdbcType=INTEGER},
      CLIENT_ID = #{clientId,jdbcType=INTEGER},
      SUPPLIER_ID = #{supplierId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
   <update id="updateBySupplierId" parameterType="com.naswork.model.AuthorityRelation" >
    update authority_relation
    set USER_ID = #{userId,jdbcType=INTEGER},
      SUPPLIER_ID = #{supplierId,jdbcType=INTEGER}
    where SUPPLIER_ID = #{supplierId,jdbcType=INTEGER} AND USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  
  <delete id="deletePower" parameterType="Integer">
  		delete FROM authority_relation where id = #{id}
  </delete>  
  
  <select id="getUserId" parameterType="Integer" resultType="Integer">
  	select USER_ID from authority_relation where SUPPLIER_ID = #{supplierId,jdbcType=INTEGER}
  </select>
  
  <select id="getCassieUserId" parameterType="Integer" resultType="Integer">
  	SELECT
			ar.USER_ID
		FROM
			authority_relation ar
		LEFT JOIN t_user tu ON tu.user_id = ar.USER_ID
		WHERE
			SUPPLIER_ID = #{supplierId,jdbcType=INTEGER} 
			AND tu.login_name = 'Cassie'
  </select>
  
  <select id="checkPower" parameterType="com.naswork.module.xtgl.controller.PowerVo" resultType="Integer">
  	SELECT COUNT(*) FROM authority_relation ar 
  	where ar.USER_ID = #{userId}
  	<if test="airTypeId != null" >
       and ar.AIR_TYPE_ID = #{airTypeId}
    </if>
  	<if test="supplierId != null" >
        and ar.SUPPLIER_ID = #{supplierId}
    </if>
  	<if test="clientId != null" >
        and ar.CLIENT_ID = #{clientId}
    </if>
    <if test="storehouseAddressId != null" >
        and ar.STOREHOUSE_ADDRESS_ID = #{storehouseAddressId}
    </if>
  </select>
  
   <select id="getUserIdByClient" parameterType="Integer" resultType="Integer">
  	select DISTINCT USER_ID from authority_relation where CLIENT_ID = #{clientId,jdbcType=INTEGER}
  </select>
  
  <select id="checkPowerBySupplier" parameterType="Integer" resultType="Integer">
  	SELECT count(*) FROM authority_relation ar WHERE ar.USER_ID = #{0} AND ar.SUPPLIER_ID = #{1}
  </select>
  
  <select id="checkPowerByClient" parameterType="Integer" resultType="Integer">
  	SELECT count(*) FROM authority_relation ar WHERE ar.USER_ID = #{0} AND ar.CLIENT_ID = #{1}
  </select>
  
</mapper>