<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.naswork.dao.ClientContactDao" >
  <resultMap id="BaseResultMap" type="com.naswork.model.ClientContact" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="CLIENT_ID" property="clientId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="POST_CODE" property="postCode" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="SHIP_ADDRESS" property="shipAddress" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="UPDATE_TIMESTAMP" property="updateTimestamp" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CLIENT_ID, NAME, POST_CODE, ADDRESS, SHIP_ADDRESS, PHONE, FAX, EMAIL, REMARK, 
    UPDATE_TIMESTAMP
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from client_contact
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from client_contact
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.naswork.model.ClientContact" >
    insert into client_contact (ID, CLIENT_ID, NAME, 
      POST_CODE, ADDRESS, SHIP_ADDRESS, 
      PHONE, FAX, EMAIL, 
      REMARK, UPDATE_TIMESTAMP)
    values (#{id,jdbcType=INTEGER}, #{clientId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{postCode,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{shipAddress,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{updateTimestamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.naswork.model.ClientContact" >
    insert into client_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="clientId != null" >
        CLIENT_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="postCode != null" >
        POST_CODE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="shipAddress != null" >
        SHIP_ADDRESS,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="fax != null" >
        FAX,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="updateTimestamp != null" >
        UPDATE_TIMESTAMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="shipAddress != null" >
        #{shipAddress,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTimestamp != null" >
        #{updateTimestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.naswork.model.ClientContact" >
    update client_contact
    <set >
      <if test="clientId != null" >
        CLIENT_ID = #{clientId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        POST_CODE = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="shipAddress != null" >
        SHIP_ADDRESS = #{shipAddress,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTimestamp != null" >
        UPDATE_TIMESTAMP = #{updateTimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.naswork.model.ClientContact" >
    update client_contact
    set CLIENT_ID = #{clientId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      POST_CODE = #{postCode,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      SHIP_ADDRESS = #{shipAddress,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      UPDATE_TIMESTAMP = #{updateTimestamp,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
	
  <select id="listPage" parameterType="Integer" resultMap="BaseResultMap">
  		select * from client_contact where CLIENT_ID=#{clientId}
  </select>
  
  <select id="maxId" resultType="Integer">
  		select MAX(id) from client_contact
  </select>
  
  <select id="selectByClientId" parameterType="Integer" resultMap="BaseResultMap">
  		SELECT
			ID,
			CLIENT_ID,
			NAME,
			POST_CODE,
			ADDRESS,
			SHIP_ADDRESS,
			PHONE,
			FAX,
			EMAIL,
			REMARK,
			UPDATE_TIMESTAMP
		FROM
			client_contact
		WHERE
			CLIENT_ID = #{clientId}
  </select>
  
</mapper>