<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.naswork.dao.ClientInquiryDao" >
  <resultMap id="BaseResultMap" type="com.naswork.model.ClientInquiry" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="CLIENT_CONTACT_ID" property="clientContactId" jdbcType="INTEGER" />
    <result column="CLIENT_ID" property="clientId" jdbcType="INTEGER" />
    <result column="BIZ_TYPE_ID" property="bizTypeId" jdbcType="INTEGER" />
    <result column="AIR_TYPE_ID" property="airTypeId" jdbcType="INTEGER" />
    <result column="INQUIRY_DATE" property="inquiryDate" jdbcType="DATE" />
    <result column="DEADLINE" property="deadline" jdbcType="DATE" />
    <result column="SOURCE_NUMBER" property="sourceNumber" jdbcType="VARCHAR" />
    <result column="QUOTE_NUMBER" property="quoteNumber" jdbcType="VARCHAR" />
    <result column="QUOTE_NUMBER_SEQ" property="quoteNumberSeq" jdbcType="INTEGER" />
    <result column="TERMS" property="terms" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="INQUIRY_STATUS_ID" property="inquiryStatusId" jdbcType="INTEGER" />
    <result column="UPDATE_TIMESTAMP" property="updateTimestamp" jdbcType="TIMESTAMP" />
    <result column="EMAIL_STATUS" property="emailStatus" jdbcType="INTEGER" />
    <result column="REAL_DEADLINE" property="realDeadline" jdbcType="DATE" />
    <result column="QQ_MAIL_SEND" property="qqMailSend" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap type="com.naswork.module.marketing.controller.clientinquiry.ClientInquiryVo" id="clientInquiryVo">
  		 <result column="ID" property="id" jdbcType="INTEGER" />
  		 <result column="CLIENT_ID" property="clientId" jdbcType="INTEGER" />
  		 <result column="BIZ_TYPE_ID" property="bizTypeId" jdbcType="INTEGER" />
  		 <result column="AIR_TYPE_ID" property="airTypeId" jdbcType="INTEGER" />
  		 <result column="INQUIRY_STATUS_ID" property="inquiryStatusId" jdbcType="INTEGER" />
  		 <result column="INQUIRY_DATE" property="inquiryDate" jdbcType="DATE" />
  		 <result column="DEADLINE" property="deadline" jdbcType="DATE" />
  		 <result column="SOURCE_NUMBER" property="sourceNumber" jdbcType="VARCHAR" />
  		 <result column="QUOTE_NUMBER" property="quoteNumber" jdbcType="VARCHAR" />	
  		 <result column="TERMS" property="terms" jdbcType="VARCHAR" />
  		 <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  		 <result column="UPDATE_TIMESTAMP" property="updateTimestamp" jdbcType="TIMESTAMP" />
  		 <result column="client_code" property="clientCode" jdbcType="VARCHAR" />
  		 <result column="client_name" property="clientName" jdbcType="VARCHAR" />
  		 <result column="client_contact_id" property="clientContactId" jdbcType="INTEGER" />
  		 <result column="client_contact_name" property="clientContactName" jdbcType="VARCHAR" />
  		 <result column="client_contact_phone" property="clientContactPhone" jdbcType="VARCHAR" />
         <result column="client_contact_fax" property="clientContactFax" jdbcType="VARCHAR" />
         <result column="currency_id" property="currencyId" jdbcType="VARCHAR" />
         <result column="currency_code" property="currencyCode" jdbcType="VARCHAR" />
         <result column="currency_value" property="currencyValue" jdbcType="VARCHAR" />
         <result column="rate" property="rate" jdbcType="VARCHAR" />
         <result column="biz_type_id" property="bizTypeId" jdbcType="VARCHAR" />
         <result column="biz_type_code" property="bizTypeCode" jdbcType="VARCHAR" />
         <result column="biz_type_value" property="bizTypeValue" jdbcType="VARCHAR" />
         <result column="air_type_id" property="airTypeId" jdbcType="VARCHAR" />
         <result column="air_type_code" property="airTypeCode" jdbcType="VARCHAR" />
         <result column="air_type_value" property="airTypeValue" jdbcType="VARCHAR" />
         <result column="inquiry_status_id" property="inquiryStatusId" jdbcType="VARCHAR" />
         <result column="inquiry_status_code" property="inquiryStatusCode" jdbcType="VARCHAR" />
         <result column="inquiry_status_value" property="inquiryStatusValue" jdbcType="VARCHAR" />
         <result column="inquiry_date" property="inquiryDate" jdbcType="DATE" />
         <result column="deadline" property="deadline" jdbcType="DATE" />
         <result column="source_number" property="sourceNumber" jdbcType="VARCHAR" />
         <result column="quote_number" property="quoteNumber" jdbcType="VARCHAR" />
         <result column="overdue" property="overdue" jdbcType="VARCHAR" />
         <result column="terms" property="terms" jdbcType="VARCHAR" />
         <result column="remark" property="remark" jdbcType="VARCHAR" />
         <result column="update_timestamp" property="updateTimestamp" jdbcType="TIMESTAMP" />
         <result column="REAL_DEADLINE" property="realDeadline" jdbcType="DATE" />
         
         
  </resultMap>
  
  <resultMap type="com.naswork.module.marketing.controller.clientinquiry.ElementVo" id="elementVo">
  		<result column="id" property="id" jdbcType="INTEGER" />
  		<result column="client_inquiry_id" property="clientInquiryId" jdbcType="INTEGER" />
  		<result column="item" property="item" jdbcType="INTEGER" />
  		<result column="part_number" property="partNumber" jdbcType="VARCHAR" />
  		<result column="ALTER_PART_NUMBER" property="alterPartNumber" jdbcType="VARCHAR" />
  		<result column="part_number_code" property="partNumberCode" jdbcType="VARCHAR" />
  		<result column="description" property="description" jdbcType="VARCHAR" />
  		<result column="unit" property="unit" jdbcType="VARCHAR" />
  		<result column="amount" property="amount" jdbcType="INTEGER" />
  		<result column="remark" property="remark" jdbcType="VARCHAR" />
  		<result column="element_id" property="elementId" jdbcType="VARCHAR" />
  		<result column="csn" property="csn" jdbcType="INTEGER" />
  		<result column="update_timestamp" property="updateTimestamp" jdbcType="TIMESTAMP" />
  		<result column="IS_MAIN" property="isMain" jdbcType="INTEGER" />
  		<result column="IS_BLACKLIST" property="isBlacklist" jdbcType="INTEGER" />
    	<result column="main_part_number" property="mainPartNumber" jdbcType="VARCHAR" />
    	<result column="TYPE_CODE" property="typeCode" jdbcType="VARCHAR" />
    	<result column="BSN" property="bsn" jdbcType="VARCHAR" />
    	<result column="ELEMENT_STATUS_VALUE" property="elementStatusValue" jdbcType="VARCHAR" />
    	<result column="CONDITION_ID" property="conditionId" jdbcType="INTEGER" />
    	<result column="CONDITION_VALUE" property="conditionValue" jdbcType="VARCHAR" />
    	<result column="CONDITION_CODE" property="conditionCode" jdbcType="VARCHAR" />
    	<result column="SOURCE" property="source" jdbcType="VARCHAR" />
    	<result column="AIM_PRICE" property="aimPrice" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, CLIENT_CONTACT_ID, CLIENT_ID, BIZ_TYPE_ID, AIR_TYPE_ID, INQUIRY_DATE, DEADLINE, 
    SOURCE_NUMBER, QUOTE_NUMBER, QUOTE_NUMBER_SEQ, TERMS, REMARK, INQUIRY_STATUS_ID, 
    UPDATE_TIMESTAMP,EMAIL_STATUS,REAL_DEADLINE,QQ_MAIL_SEND
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from client_inquiry
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from client_inquiry
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.naswork.model.ClientInquiry" >
   <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
   </selectKey>
    insert into client_inquiry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="clientContactId != null" >
        CLIENT_CONTACT_ID,
      </if>
      <if test="clientId != null" >
        CLIENT_ID,
      </if>
      <if test="bizTypeId != null" >
        BIZ_TYPE_ID,
      </if>
      <if test="airTypeId != null" >
        AIR_TYPE_ID,
      </if>
      <if test="inquiryDate != null" >
        INQUIRY_DATE,
      </if>
      <if test="deadline != null" >
        DEADLINE,
      </if>
      <if test="sourceNumber != null" >
        SOURCE_NUMBER,
      </if>
      <if test="quoteNumber != null" >
        QUOTE_NUMBER,
      </if>
      <if test="quoteNumberSeq != null" >
        QUOTE_NUMBER_SEQ,
      </if>
      <if test="terms != null" >
        TERMS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="inquiryStatusId != null" >
        INQUIRY_STATUS_ID,
      </if>
      <if test="updateTimestamp != null" >
        UPDATE_TIMESTAMP,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="realDeadline != null" >
        REAL_DEADLINE,
      </if>
      <if test="qqMailSend != null" >
        QQ_MAIL_SEND,
      </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clientContactId != null" >
        #{clientContactId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="bizTypeId != null" >
        #{bizTypeId,jdbcType=INTEGER},
      </if>
      <if test="airTypeId != null" >
        #{airTypeId,jdbcType=INTEGER},
      </if>
      <if test="inquiryDate != null" >
        #{inquiryDate,jdbcType=DATE},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=DATE},
      </if>
      <if test="sourceNumber != null" >
        #{sourceNumber,jdbcType=VARCHAR},
      </if>
      <if test="quoteNumber != null" >
        #{quoteNumber,jdbcType=VARCHAR},
      </if>
      <if test="quoteNumberSeq != null" >
        #{quoteNumberSeq,jdbcType=INTEGER},
      </if>
      <if test="terms != null" >
        #{terms,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="inquiryStatusId != null" >
        #{inquiryStatusId,jdbcType=INTEGER},
      </if>
      <if test="updateTimestamp != null" >
        #{updateTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="realDeadline != null" >
        #{realDeadline,jdbcType=DATE},
      </if>
      <if test="qqMailSend != null" >
        #{qqMailSend,jdbcType=INTEGER},
      </if>
      </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.naswork.model.ClientInquiry" >
    update client_inquiry
    <set >
      <if test="clientContactId != null" >
        CLIENT_CONTACT_ID = #{clientContactId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        CLIENT_ID = #{clientId,jdbcType=INTEGER},
      </if>
      <if test="bizTypeId != null" >
        BIZ_TYPE_ID = #{bizTypeId,jdbcType=INTEGER},
      </if>
      <if test="airTypeId != null" >
        AIR_TYPE_ID = #{airTypeId,jdbcType=INTEGER},
      </if>
      <if test="inquiryDate != null" >
        INQUIRY_DATE = #{inquiryDate,jdbcType=DATE},
      </if>
      <if test="deadline != null" >
        DEADLINE = #{deadline,jdbcType=DATE},
      </if>
      <if test="sourceNumber != null" >
        SOURCE_NUMBER = #{sourceNumber,jdbcType=VARCHAR},
      </if>
      <if test="quoteNumber != null" >
        QUOTE_NUMBER = #{quoteNumber,jdbcType=VARCHAR},
      </if>
      <if test="quoteNumberSeq != null" >
        QUOTE_NUMBER_SEQ = #{quoteNumberSeq,jdbcType=INTEGER},
      </if>
      <if test="terms != null" >
        TERMS = #{terms,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="inquiryStatusId != null" >
        INQUIRY_STATUS_ID = #{inquiryStatusId,jdbcType=INTEGER},
      </if>
      <if test="updateTimestamp != null" >
        UPDATE_TIMESTAMP = #{updateTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="emailStatus != null" >
        EMAIL_STATUS = #{emailStatus,jdbcType=INTEGER},
      </if>
      <if test="realDeadline != null" >
        REAL_DEADLINE = #{realDeadline,jdbcType=DATE},
      </if>
      <if test="crawlEmail != null" >
        CRAWL_EMAIL = #{crawlEmail,jdbcType=INTEGER},
      </if>
      <if test="qqMailSend != null" >
        QQ_MAIL_SEND = #{qqMailSend,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.naswork.model.ClientInquiry" >
    update client_inquiry
    set CLIENT_CONTACT_ID = #{clientContactId,jdbcType=INTEGER},
      CLIENT_ID = #{clientId,jdbcType=INTEGER},
      BIZ_TYPE_ID = #{bizTypeId,jdbcType=INTEGER},
      AIR_TYPE_ID = #{airTypeId,jdbcType=INTEGER},
      INQUIRY_DATE = #{inquiryDate,jdbcType=DATE},
      DEADLINE = #{deadline,jdbcType=DATE},
      SOURCE_NUMBER = #{sourceNumber,jdbcType=VARCHAR},
      QUOTE_NUMBER = #{quoteNumber,jdbcType=VARCHAR},
      QUOTE_NUMBER_SEQ = #{quoteNumberSeq,jdbcType=INTEGER},
      TERMS = #{terms,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      INQUIRY_STATUS_ID = #{inquiryStatusId,jdbcType=INTEGER},
      UPDATE_TIMESTAMP = #{updateTimestamp,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 列表页面 -->
  <select id="listPage" parameterType="page" resultMap="clientInquiryVo">
  		SELECT DISTINCT ci.id, ci.client_id, 
		c.code AS client_code, c.name AS client_name,
		cc.id AS client_contact_id, cc.name AS client_contact_name,
		cc.phone AS client_contact_phone, cc.fax AS client_contact_fax,
		cu.id AS currency_id, cu.code AS currency_code, cu.value AS currency_value, cu.rate,
		ci.biz_type_id, bt.code AS biz_type_code, bt.value AS biz_type_value,
		ci.air_type_id, at.code AS air_type_code, at.value AS air_type_value,
		ci.inquiry_status_id, sta.code AS inquiry_status_code, sta.value AS inquiry_status_value,
		ci.inquiry_date, ci.deadline, ci.source_number, ci.quote_number,
		DATEDIFF(ci.deadline, CURRENT_DATE()) AS overdue,
		ci.terms, ci.remark, ci.update_timestamp,ci.REAL_DEADLINE
		FROM client_inquiry ci
		INNER JOIN client c ON (ci.client_id=c.id)
		INNER JOIN client_contact cc on (ci.client_contact_id=cc.id)
		INNER JOIN v_currency cu ON (c.currency_id=cu.id)
		INNER JOIN system_code bt ON (ci.biz_type_id=bt.id)
		INNER JOIN system_code at ON (ci.air_type_id=at.id)
		INNER JOIN system_code sta ON (ci.inquiry_status_id=sta.id)
		<if test="userId != null">
			LEFT JOIN authority_relation ar on ar.CLIENT_ID = c.ID
		</if>	
		where 1=1 
		<if test="where != null">
			and ${where}
		</if>
		<if test="userId != null">
			and ar.USER_ID = #{userId}
		</if>
		<if test="orderby != null">
			${orderby}
		</if>
  </select>
  
  <!-- 新增 -->
  <insert id="insert" parameterType="com.naswork.model.ClientInquiry">
  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
  	insert into client_inquiry ( CLIENT_CONTACT_ID, CLIENT_ID, 
      BIZ_TYPE_ID, AIR_TYPE_ID, INQUIRY_DATE, 
      DEADLINE, SOURCE_NUMBER, QUOTE_NUMBER, 
      QUOTE_NUMBER_SEQ, TERMS, REMARK, 
      INQUIRY_STATUS_ID, UPDATE_TIMESTAMP,CREATE_USER,REAL_DEADLINE)
    values ( #{clientContactId,jdbcType=INTEGER}, #{clientId,jdbcType=INTEGER}, 
      #{bizTypeId,jdbcType=INTEGER}, #{airTypeId,jdbcType=INTEGER}, #{inquiryDate,jdbcType=DATE}, 
      #{deadline,jdbcType=DATE}, #{sourceNumber,jdbcType=VARCHAR}, #{quoteNumber,jdbcType=VARCHAR}, 
      #{quoteNumberSeq,jdbcType=INTEGER}, #{terms,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{inquiryStatusId,jdbcType=INTEGER}, #{updateTimestamp,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, #{realDeadline,jdbcType=DATE})
  		
  </insert>
  
  <!-- 查询标记 -->
  <select id="findMaxSeq" resultType="java.lang.Integer">
  		select max(QUOTE_NUMBER_SEQ) from client_inquiry
  </select>
  
   <!-- 明细列表数据 -->
  <select id="ElePage" parameterType="page" resultMap="elementVo">
  		SELECT
			cie.id,
			cie.client_inquiry_id,
			cie.BSN,
			cie.item,
			cie.part_number,
			cie.alter_part_number,
			e.part_number_code,
			cie.description,
			cie.unit,
			cie.amount,
			cie.remark,
			cie.element_id,
			cie.update_timestamp,
			cie.csn,
			cie.is_main,
			cc.part_number AS main_part_number,
			cie.IS_BLACKLIST,
			cie.TYPE_CODE,
			cie.SOURCE,
			s.`VALUE` AS ELEMENT_STATUS_VALUE,
			con.ID AS CONDITION_ID,
			con.`VALUE` AS CONDITION_VALUE,
			con.`CODE` AS CONDITION_CODE,
			cie.AIM_PRICE
		FROM
			client_inquiry_element cie
		INNER JOIN element e ON (cie.element_id = e.id)
		LEFT JOIN client_inquiry_element cc ON (cc.id = cie.main_id)
		LEFT JOIN system_code s ON (s.ID = cie.ELEMENT_STATUS_ID)
		LEFT JOIN system_code con ON (con.ID = cie.CONDITION_ID)
		where cie.CLIENT_INQUIRY_ID=#{id}
		<if test="where != null">
			and #{where}
		</if>
		<if test="orderby != null">
			${orderby}
		</if>
  </select>
  
  <select id="tenderEle" parameterType="Integer" resultMap="elementVo">
  		SELECT cie.id, cie.client_inquiry_id,
		cie.item, cie.part_number,cie.alter_part_number,e.part_number_code, cie.description,
		cie.unit, cie.amount, cie.remark, cie.element_id, cie.update_timestamp,cie.csn,
		cie.is_main,cc.part_number as main_part_number
		FROM client_inquiry_element cie
		INNER JOIN element e ON (cie.element_id=e.id)
		LEFT JOIN  client_inquiry_element cc ON(cc.id = cie.main_id)
		where cie.CLIENT_INQUIRY_ID=#{id}
		order by cie.item
  </select>
  
  
  <select id="findByQuoteNumber" parameterType="String" resultType="Integer">
  		select id from client_inquiry where QUOTE_NUMBER=#{quoteNumber}
  </select>
  
  <select id="getQuoteCount" parameterType="com.naswork.model.ClientQuote" resultType="Integer">
  		select COUNT(*) from client_quote cq where cq.CLIENT_INQUIRY_ID = ${clientInquiryId}
  </select>
  
</mapper>