<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.naswork.dao.KlxQuoteDao" >
  <resultMap id="BaseResultMap" type="com.naswork.model.KlxQuote" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CLIENT_INQUIRY_ID" property="clientInquiryId" jdbcType="INTEGER" />
    <result column="SUPPLIER_QUOTE_ID" property="supplierQuoteId" jdbcType="INTEGER" />
    <result column="COMPLETE" property="complete" jdbcType="INTEGER" />
    <result column="UPDATE_DATETIME" property="updateDatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CLIENT_INQUIRY_ID, SUPPLIER_QUOTE_ID, COMPLETE, UPDATE_DATETIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from klx_quote
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from klx_quote
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.naswork.model.KlxQuote" >
    insert into klx_quote (ID, CLIENT_INQUIRY_ID, SUPPLIER_QUOTE_ID, 
      COMPLETE, UPDATE_DATETIME)
    values (#{id,jdbcType=INTEGER}, #{clientInquiryId,jdbcType=INTEGER}, #{supplierQuoteId,jdbcType=INTEGER}, 
      #{complete,jdbcType=INTEGER}, #{updateDatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.naswork.model.KlxQuote" >
    insert into klx_quote
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="clientInquiryId != null" >
        CLIENT_INQUIRY_ID,
      </if>
      <if test="supplierQuoteId != null" >
        SUPPLIER_QUOTE_ID,
      </if>
      <if test="complete != null" >
        COMPLETE,
      </if>
      <if test="updateDatetime != null" >
        UPDATE_DATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clientInquiryId != null" >
        #{clientInquiryId,jdbcType=INTEGER},
      </if>
      <if test="supplierQuoteId != null" >
        #{supplierQuoteId,jdbcType=INTEGER},
      </if>
      <if test="complete != null" >
        #{complete,jdbcType=INTEGER},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.naswork.model.KlxQuote" >
    update klx_quote
    <set >
      <if test="clientInquiryId != null" >
        CLIENT_INQUIRY_ID = #{clientInquiryId,jdbcType=INTEGER},
      </if>
      <if test="supplierQuoteId != null" >
        SUPPLIER_QUOTE_ID = #{supplierQuoteId,jdbcType=INTEGER},
      </if>
      <if test="complete != null" >
        COMPLETE = #{complete,jdbcType=INTEGER},
      </if>
      <if test="updateDatetime != null" >
        UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.naswork.model.KlxQuote" >
    update klx_quote
    set CLIENT_INQUIRY_ID = #{clientInquiryId,jdbcType=INTEGER},
      SUPPLIER_QUOTE_ID = #{supplierQuoteId,jdbcType=INTEGER},
      COMPLETE = #{complete,jdbcType=INTEGER},
      UPDATE_DATETIME = #{updateDatetime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getFinishList" resultMap="BaseResultMap">
  		SELECT
			DISTINCT kq.*
		FROM
			klx_quote kq
		LEFT JOIN klx_quote_element kqe ON kqe.KLX_QUOTE_ID = kq.ID
		WHERE
			kq.COMPLETE = 1
		AND kq.SUPPLIER_QUOTE_ID IS NULL
		AND kqe.ID IS NOT NULL
  </select>
  
  <update id="lockMessage" parameterType="com.naswork.model.KlxQuote" >
    update klx_quote
    set SUPPLIER_QUOTE_ID = 1
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="unLockMessage" parameterType="com.naswork.model.SatairQuote" >
    update klx_quote
    set SUPPLIER_QUOTE_ID = #{supplierQuoteId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>