<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.naswork.dao.SatairQuoteDao" >
  <resultMap id="BaseResultMap" type="com.naswork.model.SatairQuote" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CLIENT_INQUIRY_ID" property="clientInquiryId" jdbcType="INTEGER" />
    <result column="SUPPLIER_QUOTE_ID" property="supplierQuoteId" jdbcType="INTEGER" />
    <result column="COMPLETE" property="complete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CLIENT_INQUIRY_ID, SUPPLIER_QUOTE_ID, COMPLETE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from satair_quote
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from satair_quote
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.naswork.model.SatairQuote" >
    insert into satair_quote (ID, CLIENT_INQUIRY_ID, SUPPLIER_QUOTE_ID, 
      COMPLETE)
    values (#{id,jdbcType=INTEGER}, #{clientInquiryId,jdbcType=INTEGER}, #{supplierQuoteId,jdbcType=INTEGER}, 
      #{complete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.naswork.model.SatairQuote" >
    insert into satair_quote
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="clientInquiryId != null" >
        CLIENT_INQUIRY_ID,
      </if>
      <if test="supplierQuoteId != null" >
        SUPPLIER_QUOTE_ID,
      </if>
      <if test="complete != null" >
        COMPLETE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clientInquiryId != null" >
        #{clientInquiryId,jdbcType=INTEGER},
      </if>
      <if test="supplierQuoteId != null" >
        #{supplierQuoteId,jdbcType=INTEGER},
      </if>
      <if test="complete != null" >
        #{complete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.naswork.model.SatairQuote" >
    update satair_quote
    <set >
      <if test="clientInquiryId != null" >
        CLIENT_INQUIRY_ID = #{clientInquiryId,jdbcType=INTEGER},
      </if>
      <if test="supplierQuoteId != null" >
        SUPPLIER_QUOTE_ID = #{supplierQuoteId,jdbcType=INTEGER},
      </if>
      <if test="complete != null" >
        COMPLETE = #{complete,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.naswork.model.SatairQuote" >
    update satair_quote
    set CLIENT_INQUIRY_ID = #{clientInquiryId,jdbcType=INTEGER},
      SUPPLIER_QUOTE_ID = #{supplierQuoteId,jdbcType=INTEGER},
      COMPLETE = #{complete,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getNewCrawMessage" resultMap="BaseResultMap">
  		SELECT * FROM satair_quote sq WHERE sq.COMPLETE = 1 AND sq.SUPPLIER_QUOTE_ID IS NULL
  </select>
  
  <update id="lockTheMessage" parameterType="com.naswork.model.SatairQuote" >
    update satair_quote
    set SUPPLIER_QUOTE_ID = 1
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="unLockTheMessage" parameterType="com.naswork.model.SatairQuote" >
    update satair_quote
    set SUPPLIER_QUOTE_ID = #{supplierQuoteId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>