*.class
*.log
WebRoot/WEB-INF/classes/**
src/config/mybatis/auto/LsurlDB_Shortlink.java
src/config/mybatis/auto/generatorConfig.xml
src/com/naswork/module/workflow/utils/TaskUtils.java
WebRoot/WEB-INF/classes
*.pyc
python/log/*
*.out
*.zip
.project
python/com/naswork/rfq/online/falconservice.log
python/com/naswork/rfq/online/satairs.py
python/com/naswork/rfq/online/service.log
#idea
crm.iml
out/
.idea/
web/
