<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naswork.dao.Jbpm4TaskDao">
  <resultMap id="BaseResultMap" type="com.naswork.model.Jbpm4Task">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="class_" jdbcType="CHAR" property="class_" />
    <result column="dbversion_" jdbcType="DECIMAL" property="dbversion" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="descr_" jdbcType="VARCHAR" property="descr" />
    <result column="state_" jdbcType="VARCHAR" property="state" />
    <result column="susphiststate_" jdbcType="VARCHAR" property="susphiststate" />
    <result column="assignee_" jdbcType="VARCHAR" property="assignee" />
    <result column="form_" jdbcType="VARCHAR" property="form" />
    <result column="priority_" jdbcType="DECIMAL" property="priority" />
    <result column="create_" jdbcType="TIMESTAMP" property="create" />
    <result column="duedate_" jdbcType="TIMESTAMP" property="duedate" />
    <result column="progress_" jdbcType="DECIMAL" property="progress" />
    <result column="signalling_" jdbcType="DECIMAL" property="signalling" />
    <result column="execution_id_" jdbcType="VARCHAR" property="executionId" />
    <result column="activity_name_" jdbcType="VARCHAR" property="activityName" />
    <result column="hasvars_" jdbcType="DECIMAL" property="hasvars" />
    <result column="supertask_" jdbcType="DECIMAL" property="supertask" />
    <result column="execution_" jdbcType="DECIMAL" property="execution" />
    <result column="procinst_" jdbcType="DECIMAL" property="procinst" />
    <result column="swimlane_" jdbcType="DECIMAL" property="swimlane" />
    <result column="taskdefname_" jdbcType="VARCHAR" property="taskdefname" />
    <result column="YW_TABLE_ID" jdbcType="INTEGER" property="ywTableId" />
    <result column="YW_TABLE_ELEMENT_ID" jdbcType="INTEGER" property="ywTableElementId" />
        <result column="RELATION_ID" jdbcType="INTEGER" property="relationId" />
  </resultMap>
  <sql id="Base_Column_List">
    dbid_  id, class_, dbversion_, name_, descr_, state_, susphiststate_, assignee_, form_, 
    priority_, create_, duedate_, progress_, signalling_, execution_id_, activity_name_, 
    hasvars_, supertask_, execution_, procinst_, swimlane_, taskdefname_
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jbpm4_task
    where dbid_ = #{dbid,jdbcType=DECIMAL}
  </select>
  
  <select id="selectByAssignee" parameterType="page" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    FROM `jbpm4_task` jt WHERE jt.assignee_=${assignee}
 	GROUP BY  descr_, activity_name_
 	ORDER BY create_ DESC
  </select>
  
   <select id="selectWeatherOrder" parameterType="com.naswork.model.Jbpm4Task" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" /> from jbpm4_task jt INNER JOIN
	order_approval oa on oa.ID=jt.RELATION_ID
	where jt.taskdefname_ ='${taskdefname}'  and jt.YW_TABLE_ELEMENT_ID=${ywTableElementId} and oa.supplier_weather_order_element_id is null
	</select>
	
	<select id="selectDbversion" parameterType="com.naswork.model.Jbpm4Task" resultMap="BaseResultMap">
	select * from jbpm4_task jt INNER JOIN
	order_approval oa on oa.ID=jt.RELATION_ID
	INNER JOIN supplier_weather_order_element swoe on swoe.ID=oa.SUPPLIER_WEATHER_ORDER_ELEMENT_ID
	where jt.taskdefname_  ='${taskdefname}'   and jt.YW_TABLE_ELEMENT_ID=${ywTableElementId} group by jt.YW_TABLE_ELEMENT_ID
	</select>
	
  <select id="selectByAssigneeAndYwId" parameterType="page" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    FROM `jbpm4_task` jt WHERE jt.assignee_=${userCode} 
 	
  </select>
  
   <select id="selectByExecutionId" parameterType="String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    FROM `jbpm4_task` jt WHERE jt.execution_id_=#{executionId}
 	
  </select>
  
   <select id="findYwTableElementId" parameterType="com.naswork.model.Jbpm4Task" resultMap="BaseResultMap">
  select  
  <include refid="Base_Column_List" />
   from jbpm4_task jt where jt.name_='${name}' and jt.descr_='${descr}' 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from jbpm4_task
    where dbid_ = #{dbid,jdbcType=DECIMAL}
  </delete>
  
  <delete id="deleteHIStTask" parameterType="String">
    delete from jbpm4_hist_task
    where execution_ = #{execution,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteHistProcinst" parameterType="String">
    delete from jbpm4_hist_procinst
    where id_ = #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteHistActinst" parameterType="String">
    delete from jbpm4_hist_actinst
    where execution_ = #{execution,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteExecution" parameterType="String">
    delete from jbpm4_execution
    where id_ = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.naswork.model.Jbpm4Task">
    insert into jbpm4_task (dbid_, class_, dbversion_, 
      name_, descr_, state_, 
      susphiststate_, assignee_, form_, 
      priority_, create_, duedate_, 
      progress_, signalling_, execution_id_, 
      activity_name_, hasvars_, supertask_, 
      execution_, procinst_, swimlane_, 
      taskdefname_
      )
    values (#{dbid,jdbcType=DECIMAL}, #{class_,jdbcType=CHAR}, #{dbversion,jdbcType=DECIMAL}, 
      #{name,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{susphiststate,jdbcType=VARCHAR}, #{assignee,jdbcType=VARCHAR}, #{form,jdbcType=VARCHAR}, 
      #{priority,jdbcType=DECIMAL}, #{create,jdbcType=TIMESTAMP}, #{duedate,jdbcType=TIMESTAMP}, 
      #{progress,jdbcType=DECIMAL}, #{signalling,jdbcType=DECIMAL}, #{executionId,jdbcType=VARCHAR}, 
      #{activityName,jdbcType=VARCHAR}, #{hasvars,jdbcType=DECIMAL}, #{supertask,jdbcType=DECIMAL}, 
      #{execution,jdbcType=DECIMAL}, #{procinst,jdbcType=DECIMAL}, #{swimlane,jdbcType=DECIMAL}, 
      #{taskdefname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.naswork.model.Jbpm4Task">
    insert into jbpm4_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbid != null">
        dbid_,
      </if>
      <if test="class_ != null">
        class_,
      </if>
      <if test="dbversion != null">
        dbversion_,
      </if>
      <if test="name != null">
        name_,
      </if>
      <if test="descr != null">
        descr_,
      </if>
      <if test="state != null">
        state_,
      </if>
      <if test="susphiststate != null">
        susphiststate_,
      </if>
      <if test="assignee != null">
        assignee_,
      </if>
      <if test="form != null">
        form_,
      </if>
      <if test="priority != null">
        priority_,
      </if>
      <if test="create != null">
        create_,
      </if>
      <if test="duedate != null">
        duedate_,
      </if>
      <if test="progress != null">
        progress_,
      </if>
      <if test="signalling != null">
        signalling_,
      </if>
      <if test="executionId != null">
        execution_id_,
      </if>
      <if test="activityName != null">
        activity_name_,
      </if>
      <if test="hasvars != null">
        hasvars_,
      </if>
      <if test="supertask != null">
        supertask_,
      </if>
      <if test="execution != null">
        execution_,
      </if>
      <if test="procinst != null">
        procinst_,
      </if>
      <if test="swimlane != null">
        swimlane_,
      </if>
      <if test="taskdefname != null">
        taskdefname_,
      </if>
     
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dbid != null">
        #{dbid,jdbcType=DECIMAL},
      </if>
      <if test="class_ != null">
        #{class_,jdbcType=CHAR},
      </if>
      <if test="dbversion != null">
        #{dbversion,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="susphiststate != null">
        #{susphiststate,jdbcType=VARCHAR},
      </if>
      <if test="assignee != null">
        #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="form != null">
        #{form,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=DECIMAL},
      </if>
      <if test="create != null">
        #{create,jdbcType=TIMESTAMP},
      </if>
      <if test="duedate != null">
        #{duedate,jdbcType=TIMESTAMP},
      </if>
      <if test="progress != null">
        #{progress,jdbcType=DECIMAL},
      </if>
      <if test="signalling != null">
        #{signalling,jdbcType=DECIMAL},
      </if>
      <if test="executionId != null">
        #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="hasvars != null">
        #{hasvars,jdbcType=DECIMAL},
      </if>
      <if test="supertask != null">
        #{supertask,jdbcType=DECIMAL},
      </if>
      <if test="execution != null">
        #{execution,jdbcType=DECIMAL},
      </if>
      <if test="procinst != null">
        #{procinst,jdbcType=DECIMAL},
      </if>
      <if test="swimlane != null">
        #{swimlane,jdbcType=DECIMAL},
      </if>
      <if test="taskdefname != null">
        #{taskdefname,jdbcType=VARCHAR},
      </if>
     
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.naswork.model.Jbpm4Task">
    update jbpm4_task
    <set>
      <if test="class_ != null">
        class_ = #{class_,jdbcType=CHAR},
      </if>
      <if test="dbversion != null">
        dbversion_ = #{dbversion,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        name_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="descr != null">
        descr_ = #{descr,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state_ = #{state,jdbcType=VARCHAR},
      </if>
      <if test="susphiststate != null">
        susphiststate_ = #{susphiststate,jdbcType=VARCHAR},
      </if>
      <if test="assignee != null">
        assignee_ = #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="form != null">
        form_ = #{form,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        priority_ = #{priority,jdbcType=DECIMAL},
      </if>
      <if test="create != null">
        create_ = #{create,jdbcType=TIMESTAMP},
      </if>
      <if test="duedate != null">
        duedate_ = #{duedate,jdbcType=TIMESTAMP},
      </if>
      <if test="progress != null">
        progress_ = #{progress,jdbcType=DECIMAL},
      </if>
      <if test="signalling != null">
        signalling_ = #{signalling,jdbcType=DECIMAL},
      </if>
      <if test="executionId != null">
        execution_id_ = #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null">
        activity_name_ = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="hasvars != null">
        hasvars_ = #{hasvars,jdbcType=DECIMAL},
      </if>
      <if test="supertask != null">
        supertask_ = #{supertask,jdbcType=DECIMAL},
      </if>
      <if test="execution != null">
        execution_ = #{execution,jdbcType=DECIMAL},
      </if>
      <if test="procinst != null">
        procinst_ = #{procinst,jdbcType=DECIMAL},
      </if>
      <if test="swimlane != null">
        swimlane_ = #{swimlane,jdbcType=DECIMAL},
      </if>
      <if test="taskdefname != null">
        taskdefname_ = #{taskdefname,jdbcType=VARCHAR},
      </if>
     
    </set>
    where dbid_ = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.naswork.model.Jbpm4Task">
    update jbpm4_task
    set class_ = #{class_,jdbcType=CHAR},
      dbversion_ = #{dbversion,jdbcType=DECIMAL},
      name_ = #{name,jdbcType=VARCHAR},
      descr_ = #{descr,jdbcType=VARCHAR},
      state_ = #{state,jdbcType=VARCHAR},
      susphiststate_ = #{susphiststate,jdbcType=VARCHAR},
      assignee_ = #{assignee,jdbcType=VARCHAR},
      form_ = #{form,jdbcType=VARCHAR},
      priority_ = #{priority,jdbcType=DECIMAL},
      create_ = #{create,jdbcType=TIMESTAMP},
      duedate_ = #{duedate,jdbcType=TIMESTAMP},
      progress_ = #{progress,jdbcType=DECIMAL},
      signalling_ = #{signalling,jdbcType=DECIMAL},
      execution_id_ = #{executionId,jdbcType=VARCHAR},
      activity_name_ = #{activityName,jdbcType=VARCHAR},
      hasvars_ = #{hasvars,jdbcType=DECIMAL},
      supertask_ = #{supertask,jdbcType=DECIMAL},
      execution_ = #{execution,jdbcType=DECIMAL},
      procinst_ = #{procinst,jdbcType=DECIMAL},
      swimlane_ = #{swimlane,jdbcType=DECIMAL},
      taskdefname_ = #{taskdefname,jdbcType=VARCHAR}
    where dbid_ = #{dbid,jdbcType=DECIMAL}
  </update>
  
  <update id="updateByExecutionId" parameterType="com.naswork.model.Jbpm4Task">
     UPDATE jbpm4_task set execution_id_=#{id} where execution_id_=#{executionId};
  </update>
  
    <update id="updateJbpm4HistActinst" parameterType="com.naswork.model.Jbpm4Task">
    UPDATE jbpm4_hist_actinst set execution_=#{id} where execution_=#{executionId};
  </update>
  
    <update id="updateJbpm4HistTask" parameterType="com.naswork.model.Jbpm4Task">
    UPDATE jbpm4_hist_task set execution_=#{id} where execution_=#{executionId};
  </update>
  
  <update id="updateJbpm4Execution" parameterType="com.naswork.model.Jbpm4Task">
 	UPDATE jbpm4_execution set id_=#{id} where id_=#{executionId};
  </update>
  </mapper>