<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.naswork.dao.TjLmlyrsRealtimeDao" >
  <resultMap id="BaseResultMap" type="com.naswork.model.TjLmlyrsRealtime" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="recordDateTime" property="recorddatetime" jdbcType="TIMESTAMP" />
    <result column="subscriberCount" property="subscribercount" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="recordIdentifier" property="recordidentifier" jdbcType="VARCHAR" />
    <result column="insertTime" property="inserttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, recordDateTime, subscriberCount, level, recordIdentifier, insertTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.naswork.model.TjLmlyrsRealtimeKey" >
    select 
    <include refid="Base_Column_List" />
    from tj_lmlyrs_realtime
    where id = #{id,jdbcType=INTEGER}
      and recordDateTime = #{recorddatetime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.naswork.model.TjLmlyrsRealtimeKey" >
    delete from tj_lmlyrs_realtime
    where id = #{id,jdbcType=INTEGER}
      and recordDateTime = #{recorddatetime,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="com.naswork.model.TjLmlyrsRealtime" >
    insert into tj_lmlyrs_realtime (id, recordDateTime, subscriberCount, 
      level, recordIdentifier, insertTime
      )
    values (#{id,jdbcType=INTEGER}, #{recorddatetime,jdbcType=TIMESTAMP}, #{subscribercount,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{recordidentifier,jdbcType=VARCHAR}, #{inserttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.naswork.model.TjLmlyrsRealtime" >
    insert into tj_lmlyrs_realtime
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recorddatetime != null" >
        recordDateTime,
      </if>
      <if test="subscribercount != null" >
        subscriberCount,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="recordidentifier != null" >
        recordIdentifier,
      </if>
      <if test="inserttime != null" >
        insertTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recorddatetime != null" >
        #{recorddatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="subscribercount != null" >
        #{subscribercount,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="recordidentifier != null" >
        #{recordidentifier,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null" >
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.naswork.model.TjLmlyrsRealtime" >
    update tj_lmlyrs_realtime
    <set >
      <if test="subscribercount != null" >
        subscriberCount = #{subscribercount,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="recordidentifier != null" >
        recordIdentifier = #{recordidentifier,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null" >
        insertTime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and recordDateTime = #{recorddatetime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.naswork.model.TjLmlyrsRealtime" >
    update tj_lmlyrs_realtime
    set subscriberCount = #{subscribercount,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      recordIdentifier = #{recordidentifier,jdbcType=VARCHAR},
      insertTime = #{inserttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
      and recordDateTime = #{recorddatetime,jdbcType=TIMESTAMP}
  </update>
  
  <select id="getMaxIdentifier"  resultType="java.lang.String" >
    select max(recordIdentifier)
    from tj_lmlyrs_realtime
  </select>
  
   <select id="selectByIdStr" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
   from tj_lmlyrs_realtime
    where id = #{id}
      and recordIdentifier >= #{idStr}
      order by recordIdentifier asc
  </select>
  
</mapper>