<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.naswork.dao.TjLmlyrsMonthlyDao" >
  <resultMap id="BaseResultMap" type="com.naswork.model.TjLmlyrsMonthly" >
    <id column="recordYear" property="recordyear" jdbcType="INTEGER" />
    <id column="recordMonth" property="recordmonth" jdbcType="INTEGER" />
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="recordIdentifier" property="recordidentifier" jdbcType="VARCHAR" />
    <result column="subscriberCount" property="subscribercount" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="insertTime" property="inserttime" jdbcType="TIMESTAMP" />
  </resultMap>
  
   <resultMap id="KydfxTop5Data" type="com.naswork.model.KydfxTop5Data" >
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="INTEGER" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    recordYear, recordMonth, id, recordIdentifier, subscriberCount, level, insertTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.naswork.model.TjLmlyrsMonthlyKey" >
    select 
    <include refid="Base_Column_List" />
    from tj_lmlyrs_monthly
    where recordYear = #{recordyear,jdbcType=INTEGER}
      and recordMonth = #{recordmonth,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
      and recordIdentifier = #{recordidentifier,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.naswork.model.TjLmlyrsMonthlyKey" >
    delete from tj_lmlyrs_monthly
    where recordYear = #{recordyear,jdbcType=INTEGER}
      and recordMonth = #{recordmonth,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
      and recordIdentifier = #{recordidentifier,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.naswork.model.TjLmlyrsMonthly" >
    insert into tj_lmlyrs_monthly (recordYear, recordMonth, id, 
      recordIdentifier, subscriberCount, level, 
      insertTime)
    values (#{recordyear,jdbcType=INTEGER}, #{recordmonth,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, 
      #{recordidentifier,jdbcType=VARCHAR}, #{subscribercount,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, 
      #{inserttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.naswork.model.TjLmlyrsMonthly" >
    insert into tj_lmlyrs_monthly
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordyear != null" >
        recordYear,
      </if>
      <if test="recordmonth != null" >
        recordMonth,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="recordidentifier != null" >
        recordIdentifier,
      </if>
      <if test="subscribercount != null" >
        subscriberCount,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="inserttime != null" >
        insertTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordyear != null" >
        #{recordyear,jdbcType=INTEGER},
      </if>
      <if test="recordmonth != null" >
        #{recordmonth,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recordidentifier != null" >
        #{recordidentifier,jdbcType=VARCHAR},
      </if>
      <if test="subscribercount != null" >
        #{subscribercount,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="inserttime != null" >
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.naswork.model.TjLmlyrsMonthly" >
    update tj_lmlyrs_monthly
    <set >
      <if test="subscribercount != null" >
        subscriberCount = #{subscribercount,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="inserttime != null" >
        insertTime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where recordYear = #{recordyear,jdbcType=INTEGER}
      and recordMonth = #{recordmonth,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
      and recordIdentifier = #{recordidentifier,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.naswork.model.TjLmlyrsMonthly" >
    update tj_lmlyrs_monthly
    set subscriberCount = #{subscribercount,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      insertTime = #{inserttime,jdbcType=TIMESTAMP}
    where recordYear = #{recordyear,jdbcType=INTEGER}
      and recordMonth = #{recordmonth,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
      and recordIdentifier = #{recordidentifier,jdbcType=VARCHAR}
  </update>
  
   <select id="selectByIdFromMonth" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tj_lmlyrs_monthly
    where recordIdentifier >= #{idStr}
      and id = #{id,jdbcType=INTEGER}
    order by recordIdentifier
  </select>
  
 
  <select id="selectByIdAngYearAndMonth" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tj_lmlyrs_monthly
    where recordYear = #{year}
      and recordMonth = #{month}
      and id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="curMonthNum" resultType="java.lang.Integer">
    select subscriberCount
    from tj_lmlyrs_monthly
    where id = #{id} and recordIdentifier = #{idStr}
  </select>

	<select id="selectSomeMonth" resultMap="BaseResultMap">
		select * from tj_lmlyrs_monthly t
		where id = #{id}
		order by recordIdentifier
		limit #{maxNum}
	</select>
	
	<select id="selectByLevel" resultMap="BaseResultMap">
	select * from
	tj_lmlyrs_monthly t
	where t.`level` = #{level} and t.recordIdentifier = #{idStr}
</select>

<select id="curMonthTrend" resultType="java.math.BigDecimal">
	select t.trend from
	tj_lmlyrs_monthly t
	where t.id = #{id} and t.recordIdentifier = #{idStr}
</select>

<select id="selectTop5Jq" resultMap="KydfxTop5Data">
	select t2.spotName as name,
	t.subscriberCount as value from tj_lmlyrs_monthly t
	join jqqd t2 on (t.id = t2.id)
	where t.`level` = 3 and t.recordIdentifier = #{idStr}
	order by t.subscriberCount desc
	
</select>

<select id="selectTop5Xq" resultMap="KydfxTop5Data">
	select t2.spotName as name,
	sum(t.subscriberCount) as value from tj_lmlyrs_monthly t
	join jqqd t2 on (t.id = t2.id)
	where t.`level` = 3 and t.recordIdentifier = #{idStr} and t2.districtId = #{id}
	group by t2.spotName
	order by value desc
	
</select>
	<!--zww统计来梅旅游人数  -->
	<select id="getTotalLmNum" resultType="Integer">
	SELECT SUM(subscriberCount) FROM`tj_lmlyrs_monthly`
	WHERE id=#{id} AND recordYear=#{year}
	</select>
</mapper>