<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.naswork.dao.TjnewhslvDailyDao" >
  <resultMap id="BaseResultMap" type="com.naswork.model.TjnewhslvDaily" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="recordDate" property="recorddate" jdbcType="DATE" />
    <result column="subscriberCount" property="subscribercount" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="insertTime" property="inserttime" jdbcType="TIMESTAMP" />
    <result column="trend" property="trend" jdbcType="REAL" />
    <result column="day" property="day" jdbcType="INTEGER"/>
    <result column="sumofday" property="sumofday" jdbcType="INTEGER"></result>
  </resultMap>
  <sql id="Base_Column_List" >
    id, recordDate, subscriberCount, level, insertTime, trend
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.naswork.model.TjnewhslvDailyKey" >
    select 
    <include refid="Base_Column_List" />
    from tj_new_hslv_daily
    where id = #{id,jdbcType=INTEGER}
      and recordDate = #{recorddate,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.naswork.model.TjnewhslvDailyKey" >
    delete from tj_new_hslv_daily
    where id = #{id,jdbcType=INTEGER}
      and recordDate = #{recorddate,jdbcType=DATE}
  </delete>
  <insert id="insert" parameterType="com.naswork.model.TjnewhslvDaily" >
    insert into tj_new_hslv_daily (id, recordDate, subscriberCount, 
      level, insertTime, trend
      )
    values (#{id,jdbcType=INTEGER}, #{recorddate,jdbcType=DATE}, #{subscribercount,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{inserttime,jdbcType=TIMESTAMP}, #{trend,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.naswork.model.TjnewhslvDaily" >
    insert into tj_new_hslv_daily
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recorddate != null" >
        recordDate,
      </if>
      <if test="subscribercount != null" >
        subscriberCount,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="inserttime != null" >
        insertTime,
      </if>
      <if test="trend != null" >
        trend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recorddate != null" >
        #{recorddate,jdbcType=DATE},
      </if>
      <if test="subscribercount != null" >
        #{subscribercount,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="inserttime != null" >
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="trend != null" >
        #{trend,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.naswork.model.TjnewhslvDaily" >
    update tj_new_hslv_daily
    <set >
      <if test="subscribercount != null" >
        subscriberCount = #{subscribercount,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="inserttime != null" >
        insertTime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="trend != null" >
        trend = #{trend,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and recordDate = #{recorddate,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.naswork.model.TjnewhslvDaily" >
    update tj_new_hslv_daily
    set subscriberCount = #{subscribercount,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      insertTime = #{inserttime,jdbcType=TIMESTAMP},
      trend = #{trend,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
      and recordDate = #{recorddate,jdbcType=DATE}
  </update>

  <!--全市景区每日接待人次-->
  <select id="gethsjqmrjdrc" resultType="com.naswork.model.TjnewhslvDaily">
      SELECT DATE_FORMAT(recordDate,'%D') AS day,SUM(subscriberCount) AS sumofday
      FROM tj_new_hslv_daily
      WHERE level = #{typeId}
       and DATE_FORMAT(recordDate,'%Y')=#{yearId}
       and DATE_FORMAT(recordDate,'%m')=#{monthId}
       and id = #{id}
       and level = #{typeId}
  </select>

</mapper>




