 /* --------------
   *   dialog  *
* ------------ */ 
.l-dialog{ border: none;border-radius:0px;}
.l-dialog-image-error{background-image:url('../images/0.png');background-position: 0 0px;}
.l-dialog-image-donne{ background-image:url('../images/1.png');background-position: 0 0px;}  
.l-dialog-image-warn{background-image:url('../images/2.png');background-position: 0 0px;} 
.l-dialog-image-question{background-image:url('../images/3.png');background-position: 0 0px;}
.l-dialog-loading{ background-image:url('../images/ui/loading.gif');}
.l-dialog{ padding:0; margin:0;font-size:12px; border-radius: 2px;} 
.l-dialog td,.l-dialog tr,.l-dialog td div{font-size:13px; } 
.l-dialog-cc{ background:white;}
.l-dialog-tl,.l-dialog-tr,.l-dialog-bl,.l-dialog-br,.l-dialog-cl,.l-dialog-cr{width:1px;} 
.l-dialog-tl,.l-dialog-tc,.l-dialog-tr{ height:24px;}
.l-dialog-bl,.l-dialog-bc,.l-dialog-br{ height:0px; line-height:0px;}
.l-dialog-btn {
    width:auto;padding:0 17px;
}
.l-dialog-tl{ background:none;border-bottom: 1px solid #f5f5f5;}
.l-dialog-tc {
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    background: #56a2dc;
    border-bottom: 1px solid #d3d3d3;
    padding-left: 10px;background: #337fa9;
background: -moz-linear-gradient(top, #4994be, #337fa9);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#4994be), to(#337fa9));
background: -o-linear-gradient(top, #4994be, #337fa9);
background: -ms-linear-gradient(top, #4994be 0%,#337fa9 100%);
background: linear-gradient(top, #4994be, #337fa9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4994be', endColorstr='#337fa9'); 
}
.l-dialog-tr{background:none;border-bottom: 1px solid #f5f5f5;}
.l-dialog-bl{background:none;}
.l-dialog-bc{background:none;}
.l-dialog-br{background:none;}
.l-dialog-cl{background:none;}
.l-dialog-cr{background:none;}
.l-dialog-cl{background:none;}
.l-dialog-cl,.l-dialog-cc,.l-dialog-cr{border-top: 1px solid #d3d3d3;}
.l-dialog-icon
{
    display: none;
}
.l-dialog-winbtns{ position:absolute;right:0px; top:4px; height:16px;}
.l-dialog-winbtn{background:url('../images/win/dialog-winbtns.gif') no-repeat;cursor:pointer;overflow:hidden; width:17px; height:16px; float:right; margin-right:4px;}

.l-dialog-close{background-position:-85px 0px;}
.l-dialog-close:hover{background-position:-85px -32px;}
.l-dialog-close-over{background-position:-85px -16px;}
.l-dialog-close-disabled{background-position:-85px -32px; cursor:default;}
.l-dialog-min{ background-position:0px 0px;}
.l-dialog-min-over{background-position:0px -16px;}
.l-dialog-min-disabled{background-position:0px -32px;cursor:default;}
.l-dialog-max{background-position:-17px 0px;}
.l-dialog-max-over{background-position:-17px -16px;}
.l-dialog-max-disabled{background-position:-17px -32px;cursor:default;}
.l-dialog-recover{background-position:-34px 0px;}
.l-dialog-recover-over{background-position:-34px -16px;}
.l-dialog-recover-disabled{background-position:-34px -32px;cursor:default;}

.l-dialog-collapse{background-position:-51px 0px;}
.l-dialog-collapse-over{background-position:-51px -16px;}
.l-dialog-collapse-disabled{background-position:-51px -32px;cursor:default;}
.l-dialog-extend{background-position:-68px 0px;}
.l-dialog-extend-over{background-position:-68px -16px;}
.l-dialog-extend-disabled{background-position:-68px -32px;cursor:default;}

.l-dialog-tc-inner{ position:relative;height:24px; line-height:24px; width:100%;  }
.l-dialog-title {  color: #fff;font-weight:bold; font-weight:700; text-shadow:none; padding-left:3px; padding-right:20px; text-align:left; padding-top:0px;} 

 
.l-dialog-buttons{ height:47px; line-height:47px; background-color:#F8F8F8;overflow:hidden; margin-bottom:0px;}
.l-dialog-buttons .l-dialog-buttons-inner{ margin-top: 5px;text-align: center;}
.l-dialog-btn {border: 0 none;box-shadow: none;float: none;font-weight: normal;height: 30px;width: 112px;}
.l-dialog-btn{ background: #337fa9;
background: -moz-linear-gradient(top, #4994be, #337fa9);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#4994be), to(#337fa9));
background: -o-linear-gradient(top, #4994be, #337fa9);
background: -ms-linear-gradient(top, #4994be 0%,#337fa9 100%);
background: linear-gradient(top, #4994be, #337fa9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4994be', endColorstr='#337fa9');  padding: 0px; color: #fff; border: none;height: 30px;line-height: 30px;width: 112px;} 
.l-dialog-btn:hover{color: #fff; border: none;background: #187ab2;
background: -moz-linear-gradient(top, #4994be, #337fa9);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#4994be), to(#337fa9));
background: -o-linear-gradient(top, #4994be, #337fa9);
background: -ms-linear-gradient(top, #4994be 0%,#337fa9 100%);
background: linear-gradient(top, #4994be, #337fa9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4994be', endColorstr='#337fa9');}


.l-dialog-inputtext{ width:280px; border:1px solid #0099CC; line-height:23px; height:25px;}
.l-dialog-textarea{ width:280px; border:1px solid #0099CC;  height:80px;}
  

.l-selectorwin .l-dialog-content {
	overflow:hidden; padding:0px;
}
.l-selectorwin .l-dialog-content .l-form {
	margin:0; padding:2px; background:#F8F8F8;border-bottom: 1px solid #C6C6C6;
}
.l-selectorwin .l-dialog-buttons {
	margin-top: 0;
}
.l-selectorwin .l-panel {
	border:0;
}