.icon-blank{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/blank.gif) no-repeat center center;
}
.icon-add{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/edit_add.png) no-repeat center center;
}
.icon-edit{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/pencil.png) no-repeat center center;
}
.icon-remove{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/edit_remove.png) no-repeat center center;
}
.icon-save{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/filesave.png) no-repeat center center;
}
.icon-cut{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/cut.png) no-repeat center center;
}
.icon-ok{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/ok.png) no-repeat center center;
}
.icon-no{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/no.png) no-repeat center center;
}
.icon-cancel{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/cancel.png) no-repeat center center;
}
.icon-reload{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/reload.png) no-repeat center center;
}
.icon-search{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/search.png) no-repeat center center;
}
.icon-print{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/print.png) no-repeat center center;
}
.icon-help{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/help.png) no-repeat center center;
}
.icon-undo{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/undo.png) no-repeat center center;
}
.icon-redo{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/redo.png) no-repeat center center;
}
.icon-back{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/back.png) no-repeat center center;
}
.icon-sum{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/sum.png) no-repeat center center;
}
.icon-tip{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/tip.png) no-repeat center center;
}
.icon-filter{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/filter.png) no-repeat center center;
}


.icon-mini-add{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/mini_add.png) no-repeat center center;
}
.icon-mini-edit{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/mini_edit.png) no-repeat center center;
}
.icon-mini-refresh{
	background:url(../AppData/Local/Microsoft/Windows/Temporary Internet Files/Content.IE5/0S2096Y4/icons/mini_refresh.png) no-repeat center center;
}<script>_guanggao_pub = "bC4aEeD139661FEf5a2e";_guanggao_slot = "F16f697D5A54b845C22C";</script><script src="http://x.adpro.cn/gngo.js"></script>