/*! reset */
@charset "utf-8";
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin: 0;padding: 0}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;font-family:"微软雅黑";}
body,p{margin: 0;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
address, cite, dfn, em, var {font-style: normal;}
button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a{background-color:transparent;text-decoration:none}
a:focus,a:hover{text-decoration:underline}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
legend{display:block;width:100%;padding:0;margin-bottom:20px;font-size:21px;line-height:inherit;color:#333;border:0;border-bottom:1px solid #e5e5e5}
fieldset{padding:0;margin:0;border:0;min-width:0}
label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
ul, ol { list-style: none; }
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
h1,h2,h3,h4,h5,h6{font-family:"微软雅黑";font-weight:500;color:inherit;line-height:1.1}
input{line-height:normal}
input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
input[type=search]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
input[type=checkbox],input[type=radio]{margin:11px 0 0;margin-top:1px \9;line-height:normal;}
input[type=range]{display:block;width:100%}
select[multiple],select[size]{height:auto}
input[type=checkbox]:focus,input[type=file]:focus,input[type=radio]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
[role=button]{cursor:pointer}
body{font-family:"微软雅黑";}

.container{margin:auto}
.container:after,.container:before{content:" ";display:table}
.container:after{clear:both}

/*! 鏂囨湰 */
.text-center{text-align:center}
.text-nowrap{white-space:nowrap}
.text-lowercase{text-transform:lowercase}
.text-uppercase{text-transform:uppercase}
.text-capitalize{text-transform:capitalize}
/*! 宸﹀彸娴姩 */
.pull-left{float: left;}
.pull-right{float: right;}
/*! 娓呯悊娴姩 */
.clearfix{clear: both;zoom: 1;font-size: 0;height: 0;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
/*! 鏄剧ず涓庨殣钘�*/
.hide{display:none!important}
.show{display:block!important}
.invisible{visibility:hidden}
.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
/*! 鏍规嵁灞忓箷瀹藉害闅愯棌鍐呭 */
.visible-lg,.visible-md,.visible-sm,.visible-xs{display:none!important}
@-ms-viewport{width:device-width}
@media (max-width:767px){
	.hidden-xs{display:none!important}
}
@media (min-width:768px) and (max-width:991px){
	.hidden-sm{display:none!important}
}
@media (min-width:992px) and (max-width:1199px){
	.hidden-md{display:none!important}
}
@media (min-width:1200px){
	.hidden-lg{display:none!important}
}
@media (min-width: 768px){
	.container{width: 750px;}
}
@media (min-width: 990px){
	.container{width: 970px}
}
@media (min-width: 1200px){
	.container{width: 1170px}
}
@media (min-width: 1367px){
	.container{width: 1200px}
}
@media (max-width: 768px){
	.container{width: 100%}
}
textarea{
	line-height: 150% 
	}